<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Quandl Tracker</title>
        <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_ticker.css')}}'>
    </head>
    <div class=page>
              <h1>Quandl Stock Tracker</h1>
              <div class=metanav>

                <h2>Enter a stock ticker (eg. TSLA), and year of interest.</h2>

                <form id='input' method='post' action='index'>
                  <p>
                    Stock Ticker Symbol: <input type='text' name='ticker' />
                  </p>
                  <p>
                    Year: <input type='text' name='year' />
                    <br><i>*If no year is inputted it defaults to the first year on record</i>
                  </p>
                  <p>
                    <input type="checkbox" name='feat1' value='Open'>Opening price
                  </p>
                   <p>
                    <input type="checkbox" name='feat2' value='Close'>Closing price
                  </p>
                   <p>
                    <input type="checkbox" name='feat3' value='Range'>Range High/Low
                  </p>
                   <p>
                    <input type="submit" value="Submit">
                  </p>
                </form>

              </div>
              <div align="left">
              <p><i>For a thorough description of the database see <a href="https://www.quandl.com/data/WIKI">www.quandl.com/data/WIKI</a></i> </p>
              </div>
        </div>
    </body>
</html>